:root{
    --text-color:#0000;
    --text-bg-color:#CCCCCC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #14120b;
    font-family: "CursorGothic", "CursorGothic Fallback", system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #CCCCCC;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#14120b;
    
    height: 52px;
    padding:0 20px;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.nav{
    display:flex;
    align-items:center;
    gap:10px;
}

.nav-icon{
    gap:8px;
}

.icon1 img{
    height:30px;
}

.icon2 h1{
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}


.nav-icon{
    display: flex;
    margin-left: 80px;
}

.nav-a a{
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 450;
}

.nav-btn{
    display: flex;
    gap: 20px;
    margin-right: 80px;
}

.nav-btn button{
    border-radius: 16px;
}

.n-btn-1{
    background-color: #000000;
    color: #fff;
    border:0.5px solid #ffffffb0;
    font-size: 12px;
    padding: 1px 7px 1px 7px;
}

.n-btn-2{
    background-color: #fff;
    color:#000000;
    padding: 1.5px 6.5px 1.5px 6.5px;
    border: 1px solid #fff;
}

.container{
    max-width:1200px;
    margin:60px auto;
    padding:0 20px;
    display:flex;
    flex-direction:column;
    gap:40px;
}

.main-left{
    margin-top: 60px;
    width: 100%;
    font-weight: 400;
}

.main-left button{
    margin-top: 20px;
}

.main-left h1{
    color: #fff;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 1.625rem;
    letter-spacing: -0.120rem;
}

.main-left button{
    background-color: #fff;
    color: #000000;
    padding: 12px 24px 12px 24px;
    border-radius: 24px;
}

.photo{
    width:100%;
}

.photo img{
    width:100%;
    max-width:1180px;
    height:auto;
    display:block;
    margin:auto;
    margin-top: 20px;
    border-radius:4px;
}

.sec-1-cont h2{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 400;

}

.s1d-div{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:10px;
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

.sm-card{
    background:#1b1913;
    border:2px solid #1b1913;
    border-radius:4px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sm-card img{
    height: 35px;
    width: 100%;
    object-fit: contain;
}

.a,.b,.c{
    max-width:1200px;
    margin:80px auto;
    padding:20px;
    background:#1b1913;
    border-radius:4px;
    display:flex;
    gap:30px;
    align-items:center;
}

.a-left,.b-left,.c-left{
    flex:1;
}

.a-right,.b-right,.c-right{
    flex:1;
}

.a-right img,
.b-right img,
.c-right img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:4px;
}

h2{
    color:#ccc;
    font-size:18px;
    font-weight:500;
}

.op{
    opacity:.6;
}

a{
    color:#f54e00;
    text-decoration:none;
    font-size:14px;
}


/* ===========================================section-5============================================ */

.d{
    width: 400px;
    height: 220px;
    border: 1px solid #1b1913;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#1b1913;
    border-radius: 4px;
}

.d img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.d p{
    font-size: 16px;
    font-weight: 400;
}

.e{
    display: flex;
}

.e span h3{
    font-size: 12px;
    padding: 2px;
    margin-left: 8px;
}

.f{
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-left: 80px;
    margin-right: 80px;
}

.sec-5-cont h2{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    line-height: 1.4;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

/* =====================================section-6============================= */

.h{
    background:#1b1913;
    border-radius:4px;
    padding:16px;
    display:flex;
    flex-direction:column;
    gap:16px;

}

.h div img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:4px;
}

.g{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.sec-6 h2{
    margin-left: 110px;
    margin-top: 150px;
    font-weight: 500;
    font-size: 24px;
}


/* =============================================section-7========================================= */

.s7d{
    width: 80%;
    margin-left:86px;
    margin-top: 160px;
}

.i{
    border: 1px solid #1b1913;
    height: 100px;
    width: 300px;
    border-radius: 4px;
    background-color: #1b1913;
    margin-top: 26px;
}

.i h3{
    font-size: 16px;
    font-weight: 650;
    margin: 10px;
}

.i button{
    border-radius: 12px;
    color: #CCCCCC;
    background-color: #1b1913;
    border: 1px solid #CCCCCC;
    width: 36px;
    height: 18px;
    margin-right: 16px;
}

#a{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin-bottom: 24px;
}

.sec-7 a{
    color: #f54e00;
    text-decoration: none;
    font-weight: 600;
}

/* ==============================================section-8======================================== */
#b{
    background-color: #1d1c1ce2;
    height: 130px;
    width: 550px;
    border: 2px solid #1d1c1ce2;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 10px;
}

#b h3{
    font-size: 16px;
    font-weight: 600;
}

#c{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#d{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 600px;
    background-color:#1b1913;
    justify-content: center;
    margin-top: 200px;
    padding-top: 100px;
}

#d a{
    text-decoration: none;
    color: #f54e00;
}

#h3{
    position: sticky;
    top: 150px;
    padding-left: 80px;
    font-size: 16px;
    font-weight: 600;

}

/* ===========================================section-9================================ */
#e{
    width: 100%;
    background-color: #14120b;
    height: 100px;
    text-align: center;
    margin: 100px auto;
}

#e h1{
    font-size: 70px;
    font-weight: 500;
}

#e button{
    color: #14120b;
    background-color: #CCCCCC;
    height: 40px;
    width: 240px;
    border-radius: 24px;
    border: 2px solid #fff;
}

/* =============================================footer================================ */

.foot-div{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(5,1fr);
    margin-left: 80px;
    margin-top: 100px;
    background-color: #1b1913;
}

.foot{
    background-color: #1b1913;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.foot p{
    margin-left: 80px;
    margin-bottom: 40px;
}

.foot-div{
    line-height: 2.5;
    font-size: 14px;
    font-weight: 300;
}